<div>
    <%= f.select :meal_type_id, @meal_types.each.collect { |meal_type| [meal_type.name, meal_type.id] },
                 {include_blank: (t '.select.prompt.meal_type')} %>

    <%= f.select :dish_id, @dishes.each.collect { |dish| [dish.dish_name, dish.id] },
                 {include_blank: (t '.select.prompt.dish')} %>

    <%= f.hidden_field :_destroy %>
    <%= f.link_to_remove "X" %>
</div>
