<% provide(:title, 'Jadłospisy') %>
<h3 class="text-left">Twoje jadłospisy</h3>

<div class="span8">
  <table class="table table-hover">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Liczba posiłków</th>
      <th>Dawka kalorii</th>
    </tr>
    </thead>
    <tbody>
      <%= render @menus %>
    </tbody>
  </table>
  <%= will_paginate %>
  <%= link_to "Dodaj nowy jadłospis", new_menu_path, class: "btn btn-primary" %>
</div>
