<br>
<table>
  <thead>
  <tr>
    <th colspan="2">
      <%= link_to('poprzedni', year_month: (@date.prev_month.to_s)[0..6]) %>
    </th>
    <th colspan="3"><%= @cal.present_month %></th>
    <th colspan="2">
      <%= link_to('następny', year_month: (@date.next_month.to_s)[0..6]) %>
    </th>
  </tr>
  <tr>
    <% @cal.build_weeks_array.each_value do |day| %>
        <th><%= day %></th>
    <% end %>
  </tr>
  </thead>
   </table>



