<tr>
  <td><%= link_to (t '.link.edit'), edit_meal_type_path(meal_type) %></td>
  <td><%= link_to (t '.link.delete'), meal_type, method: :delete, data: { confirm: 'confirmation', target: "ten typ" } %></td>
  <td><%= meal_type.name %></td>
</tr>
