<% provide(:title, (t '.subtitle')) %>
<h3><%= (t '.header.main') %></h3>
<div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <%= render @meal_types %>
    </tbody>
  </table>
  <%= link_to (t '.link.add'), new_meal_type_path %>
</div>
