<% provide(:title, 'Zmień dane') %>
<h1>Zmień swoje dane</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'form', f: f %>
      <%= f.submit "Zapisz zmiany", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>