<li>
  <%= form_tag sessions_path, html: {class: 'navbar-form navbar-right', role: 'form'} do %>
      <div class="form-group">
        <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: (t '.placeholders.email') %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, class: 'form-control', placeholder: (t '.placeholders.password') %>
      </div>
      <%= submit_tag (t '.button.submit'), class: 'btn btn-success' %>
  <% end %>
</li>