<div class="side-menu">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to (t '.link.products'), products_path, class: "btn btn-default btn-lg btn-block side-menu-button" %></li>
    <li><%= link_to (t '.link.dishes'), dishes_path, class: "btn btn-default btn-lg btn-block side-menu-button" %></li>
    <li><%= link_to (t '.link.menus'), menus_path, class: "btn btn-default btn-lg btn-block side-menu-button" %></li>
    <li><%= link_to (t '.link.calendar'), calendar_month_path, class: "btn btn-default btn-lg btn-block side-menu-button" %></li>
  </ul>
</div>
