<ul class="nav nav-tabs">
  <li><%= link_to (t '.link.products'), products_path %></li>
  <li><%= link_to (t '.link.dishes'), dishes_path %></li>
  <li><%= link_to (t '.link.menus'), menus_path %></li>
  <li><%= link_to (t '.link.calendar'), calendar_month_path %></li>
</ul>