<ul class="nav nav-tabs secondnavbar">
  <li class="offset2"><%= link_to "Produkty", products_path %></li>
  <li class="offset2"><%= link_to "Dania", dishes_path %></li>
  <li class="offset2"><%= link_to "Jadłospisy", menus_path %></li>
</ul>